[Unit]
Description=Reticulum Mavlink Ground Control Daemon
After=network.target

[Service]
ExecStart=/usr/bin/rns-mavlink-gc -a http://127.0.0.1:8080
WorkingDirectory=/home/root/rns-mavlink
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
