[Unit]
Description=Reticulum Mavlink Flight Controller Daemon
After=network.target

[Service]
ExecStartPre=/usr/bin/stty -F /dev/ttySTM1 57600
ExecStart=/usr/bin/rns-mavlink-fc -a http://127.0.0.1:8080
WorkingDirectory=/home/root/rns-mavlink
User=root
Group=root
Restart=always

[Install]
WantedBy=multi-user.target
